.narrow-card {
    max-width: 400px;
    margin: 0 auto;
    border-radius: 8px;
    background: #ffffff;
  }
  
  .card-client {
    border: 1px solid #e0e0e0;
  }
  
  .form-label {
    color: #4a4a4a;
    font-size: 1rem;
    margin-bottom: 0.5rem;
  }
  
  .add-client-btn {
    background-color: #0f344d;
    border-color: #0f344d;
    font-size: 1rem;
    font-weight: bold;
    transition: all 0.3s ease;
  }
  
  .add-client-btn:hover {
    background-color: #0f344d;
    border-color: #0f344d;
  }
  
  .text-primary {
    color: #0f344d !important;
  }
  
  .text-muted {
    color: #6c757d !important;
  }
  
  .form-control-alternative {
    border: 1px solid #ced4da;
    border-radius: 4px;
    font-size: 1rem;
    padding: 10px;
  }
  
  .card-client {
    max-width: 70%;

  }

  .client-page {
    background-color: #f8f9fe;
  }
  
  .card-client {
    border-radius: 10px;
    padding: 20px;
  }
  
  .table th, .table td {
    text-align: center;
  }
  
  .section-profile-cover {
    margin-bottom: 0; /* Remove any bottom margin that might be added by the hero section */
  }
  
  /* Styling for the card to make it wider */
  .custom-container {
 /* Adjust this value for the desired width */
    margin: 0 auto;
  }

  
  .table thead th {
    background-color: #0f344d;
    color: white;
  }
  
  .table tbody tr:hover {
    background-color: #f1f1f1;
  }
  
  .table tbody td button {
    margin: 0 5px;
  }
  
  .add-client-btn {
    background-color: white;
    color: #0f344d; 
    border: 1px solid #0f344d;
    transition: all 0.3s ease;
  }
  
  .add-client-btn:hover {
    background-color: #0f344d;
    color: white;
  }
  
  /* Stack buttons vertically with margin between them */
  .d-flex {
    display: flex;
  }
  
  .flex-column {
    flex-direction: column;
  }
  
  .align-items-center {
    align-items: center;
  }
  
  .mb-2 {
    margin-bottom: 10px; /* Adds space between the buttons */
  }
  
  .text-center {
    text-align: center;
  }
  
  
  button {
    border-radius: 5px;
  }
  